body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    padding: 1rem;
}

header img {
    max-width: 90px;
    height: auto;
    margin-right: 1rem;
}

section {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

ul {
    list-style-type: disc;
    padding-left: 0.5rem;
}

li {
    margin-bottom: 0.5rem;
}

footer {
    position: relative;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    border-top: 2px solid #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}